body{background: url('ba.jpg');background-size: cover;}
	

		#blockk, .sett img{
			padding-top: 18px;
  padding-left: 95%;
  width: 30px;
  height: 30px;
}

#blockk{position: absolute;left: 70%;
	padding: 90px;
	width: 180px;
	height: 270px;
	background-color: rgba(0, 0, 0, 0.9); 
	border-radius: 10px;
}
#blockk img{border-radius: 50px;width: 100px;height: 100px;}
#blockk ul li{list-style: none;font-size: 13px;}
#blockk ul li a{text-decoration: none;color: white;}
#blockk {
  display: none;
}
.logo img{width: 40px;height: 20px;margin-left: 20px;margin-top: 10px;}
		.profile a img{width: 30px;height: 30px;float: right;margin-top: 10px;padding-right: 30px;}
		.menu img{width: 35px;height: 35px;float: right;margin-top: 10px;display: none;}

		.head{display: inline;}
		.head ul {display: inline;position: absolute;top: 10px;left: 64%;}
		.head ul li{list-style: none;display: inline;padding-left: 10px;}
		.head ul li a{color: #6F0F0F;text-decoration: none;font-size: 20px;}
		.head ul li a:hover{color: green;}
		.head ul li img{border-radius: 50px;width: 30px;}
		.back{background: #e6eaeb;height: 260px;width: 280px;position: absolute;top: 80px;left: 10px;border-radius: 20px;}
		.profi{display: inline;}
		.profi ul {display: inline;position: absolute;top: 140px;left: 60%;width: 200px;}
		.profi ul li{list-style: none;display: inline;padding-left: 30px;}
		.profi ul li a{color: black;text-decoration: none;font-size: 30px;}
		.pic{position: absolute;left: 400px;top: 200px;}
		.pic img{width: 300px;height: 350px;border-radius: 50px;}

		.okkk fieldset{position: absolute;top: 160px;left: 270px;width: 360px;height: 400px;background-color: rgba(0, 0, 0, 0.5);border: none;border-radius: 10px;}
.okkk form{position: absolute;top: 130px;left: 30px;}
.buto button{}	
.buto button{padding: 7px;border-radius: 10px;border: none;background: #005073;margin-top: 40%;}
.buto button a{text-decoration: none;color: gray;}
.okkk img{position: absolute;top: 60px;left: 50px;width: 100px;height: 130px;}
.okkk form textarea{height: 70px;width: 240px;position: absolute;top: 160px;border-radius: 20px;}
.okkk form textarea::placeholder{font-size: 11px;padding-top: 20px;}
.okkk form input{padding: 12px;border-radius: 10px;border: none;margin-top: 45%;width: 220px;}

				[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"] + label {
  background: #0e7c73;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding:10px;
  position: absolute;top: 20%;left: 45%;
  transition: all 0.3s;
  vertical-align: middle;
  
  }
.prof img{position: absolute;top: 50px;left: 20px;width: 160px;height: 170px;}
  .btns{background: #0e7c73;border: none;  border-radius: 5px;transition: all 0.3s;  color: #fff;
  cursor: pointer;
  display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding:10px;
position: absolute;left: 60%;top: 10%}
  .btns button{padding: 10px; border-radius: 5px;transition: all 0.3s;  color: #fff;
  cursor: pointer;
  display: inline-block;
    font-family: 'Rubik', sans-serif;background: #0e7c73;border: none; }
 .btns  .Upload button{color: gray;}