	body{background: url('co1.jpg');background-size: 85%;}
		.logi img{position: absolute;top: 10px;padding: 20px;}
		.head{display: inline;}
		.head ul {display: inline;position: absolute;top: 10px;left: 66%;}
		.head ul li{list-style: none;display: inline;padding-left: 10px;}
		.head ul li a{color: #6F0F0F;text-decoration: none;font-size: 20px;}
		.head ul li a:hover{color: green;}
		.head ul li img{border-radius: 50px;width: 30px;}
		
		.profi{position: absolute;top:300px;left: 300px;background-color: rgba(0, 0, 0, 0.3);height: 300px;width: 700px;}
		.profi h1{color: white;}
		.profi p{font-size: 26px;color: gray;}
	

				
	


				@media  screen and (max-width: 992px)
		{
body{background: url('co1.jpg');background-size: 85%;}
	.logi img{position: absolute;top: 10px;padding: 20px;}
		.head{display: inline;}
		.head ul {display: inline;position: absolute;top: 50px;left: 16%;}
		.head ul li{list-style: none;display: inline;padding-left: 10px;}
		.head ul li a{color: #6F0F0F;text-decoration: none;font-size: 20px;}
		.head ul li a:hover{color: green;}
		.head ul li img{border-radius: 50px;width: 30px;}
		.profi{position: absolute;top:300px;left: 10px;background-color: rgba(0, 0, 0, 0.3);height: 300px;width: 80%;}
		.profi h1{color: white;}
		.profi p{font-size: 26px;color: gray;}

	}


				@media  screen and (max-width: 768px)
			{
body{background: blue;background-size: 85%;}
	.logi img{position: absolute;top: 10px;padding: 20px;}
		.head{display: inline;}
		.head ul {display: inline;position: absolute;top: 50px;left: 16%;}
		.head ul li{list-style: none;display: inline;padding-left: 10px;}
		.head ul li a{color: #6F0F0F;text-decoration: none;font-size: 20px;}
		.head ul li a:hover{color: green;}
		.head ul li img{border-radius: 50px;width: 30px;}
		.profi{position: absolute;top:300px;left: 10px;background-color: rgba(0, 0, 0, 0.3);height: 300px;width: 80%;}
		.profi h1{color: white;}
		.profi p{font-size: 26px;color: gray;}

		}

		@media  screen and (max-width: 600px)
		{
			body{background: green;background-size: 85%;}
	.logi img{position: absolute;top: 10px;padding: 20px;}
		.head{display: inline;position: absolute;top: 50px;left: 40px;}
		.head ul {display: inline;}
		.head ul {display: inline;position: absolute;top: 50px;left: 16%;width: 300px;}
		.head ul li{list-style: none;display: inline;padding-left: 10px;}
		.head ul li a{color: #6F0F0F;text-decoration: none;font-size: 20px;}
		.head ul li a:hover{color: green;}
		.head ul li img{border-radius: 50px;width: 30px;}
		.profi{position: absolute;top:300px;left: 30px;background-color: rgba(0, 0, 0, 0.3);height: 300px;width: 80%;}
		.profi h1{color: white;}
		.profi p{font-size: 26px;color: gray;}
		}

			@media  screen and (max-width: 360px)
		{
			body{background: green;background-size: 85%;}
	.logi img{position: absolute;top: 10px;padding: 20px;}
		.head{display: inline;position: absolute;top: 30px;left: -40px;width: 40%}
		.head ul {display: inline;}
		.head ul li{list-style: none;display: block;padding-left: 9px;}
		.head ul li a{color: #6F0F0F;text-decoration: none;font-size: 30px;}
		.head ul li a:hover{color: green;}
		.head ul li img{border-radius: 50px;width: 30px;}
		.profi{position: absolute;top:300px;left: 30px;background-color: rgba(0, 0, 0, 0.3);height: 400px;width: 80%;}
		.profi h1{color: white;}
		.profi p{font-size: 26px;color: gray;}
		}
