.okkk fieldset {
  margin-left: 30%;
  margin-top: 9%;
  width: 20%;
  height: 420px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}

.okkk form {
  margin-left: 0%;
  margin-top: 1%;
}
.okkk form input {
  border: none;
  background: none;
  border: none;
  border-radius: 6px;
  height: 30px;
  width: 300px;
  color: white;
}
.okkk fieldset img {
  width: 90px;
  height: 90px;
  margin-top: 1rem;
  margin-left: 2rem;
}
.okkk fieldset label {
  color: white;
  margin-top: 1rem;
  margin-left: 2rem;
}
.log form input {
  width: 10px;
}
.okkk form input:hover {
  border: 2px solid white;
}
.buto {
  margin-top: 1rem;
  margin-left: 3rem;
}
.buto button {
  background: #1ea3b4;
  border: none;
  border-radius: 3px;
  padding: 4px;
}
.buto button a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 768px) {
  .okkk {
    width: 100%;
  }
  .okkk fieldset {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    margin-top: 4rem;
    margin-left: 0rem;
  }
  .okkk form {
    width: 100%;
  }
}
