	body{background: url('img/ba.jpg');background-size: cover;	 }
		.logi img{position: absolute;top: 10px;padding: 20px;}
		.head{display: inline;}
		.head ul {display: inline;position: absolute;top: 10px;left: 66%;}
		.head ul li{list-style: none;display: inline;padding-left: 10px;}
		.head ul li a{color: #6F0F0F;text-decoration: none;font-size: 20px;}
		.head ul li a:hover{color: green;}
		.head ul li img{border-radius: 50px;width: 30px;}
		.amagamb{height: 400px;width: 770px;position: absolute;top: 100px;left: 100px;border-radius: 20px;}
		.amagamb strong{font-size: 60px;position: absolute;top: 10px;}
		.amagamb p{width: 400px;padding: 30px;}
		.profi{position: absolute;left: 710px;top: 120px;}
		.profi img{width: 400px;height: 501px;border-radius: 40px;}
		.deta{width: 350px;height: 200px;background: #009788;border-radius: 20px;padding-top: 0px;}
		.deta p{padding-top: 1px;padding-left: 10px;color:white;}
		.deta img{width: 30px;height: 30px;}
		.sign{position: absolute;left: 35%;top: 69%;}		
		.sign button{background: #4E4E4E;border: none;padding: 15px;border-radius: 10px;}
		.sign button a{text-decoration: none;color: #ffffff;}
		
		.deta p i{color: #60c5c1;}
		

			@media  screen and (max-width: 1292px;)
		{
			body{background: url('12.jpeg');background-size: cover;background-repeat:no-repeat;}
		.amagamb{line-height: 30px;padding: 20px;height: 100%;width: 100%;position: absolute;top: 100px;left: 20px;border-radius: 20px;padding: 0px;}
		.amagamb strong{font-size: 60px;position: absolute;top: 100px;}
		.amagamb p{width: 100%;padding: 180px;font-size: 90px;}
		.head{padding: 0px;}
			.head ul{width: 100%;padding: 0px;}
			.head ul {display: inline;position: absolute;top: 50px;left: 0%;}
			.head ul li a{color: #6F0F0F;text-decoration: none;font-size: 40px;}
			.profi{position: absolute;left: 0px;top: 260px;width: 100%;}
		.profi img{width: 340px;height: 401px;border-radius: 50px;}
		.sign{position: absolute;left: 47%;top: 850px;}		
		.sign button{background: #4E4E4E;border: none;padding: 15px;border-radius: 10px;}
		.sign button a{text-decoration: none;color: #ffffff;}
		}
						@media  screen and (max-width: 992px;)
		{
			body{background: url('12.jpeg');background-size: cover;background-repeat:no-repeat;}
		.amagamb{line-height: 30px;padding: 20px;height: 100%;width: 100%;position: absolute;top: 100px;left: 20px;border-radius: 20px;padding: 0px;}
		.amagamb strong{font-size: 60px;position: absolute;top: 100px;}
		.amagamb p{width: 100%;padding: 180px;font-size: 90px;}
		.head{padding: 0px;}
			.head ul{width: 100%;padding: 0px;}
			.head ul {display: inline;position: absolute;top: 50px;left: 0%;}
			.head ul li a{color: #6F0F0F;text-decoration: none;font-size: 40px;}
			.profi{position: absolute;left: 0px;top: 260px;width: 100%;}
		.profi img{width: 340px;height: 401px;border-radius: 50px;}
		.sign{position: absolute;left: 47%;top: 850px;}		
		.sign button{background: #4E4E4E;border: none;padding: 15px;border-radius: 10px;}
		.sign button a{text-decoration: none;color: #ffffff;}
		}


				@media  screen and (max-width: 768px)
			{	body{background: url('12.jpeg');background-size: cover;background-repeat:no-repeat;}
				.logi img{position: absolute;top: 7px;padding: 14px;}

		.amagamb{line-height: 30px;padding: 20px;height: 100%;width: 100%;position: absolute;top: 100px;left: 20px;border-radius: 20px;padding: 0px;}
		.amagamb strong{font-size: 60px;position: absolute;top: 100px;}
		.amagamb p{width: 100%;padding: 180px;font-size: 90px;}
		.head{padding: 0px;}
			.head ul{width: 100%;padding: 0px;}
			.head ul {display: inline;position: absolute;top: 50px;left: 0%;}
			.head ul li a{color: #6F0F0F;text-decoration: none;font-size: 20px;}
			.profi{position: absolute;left: 0px;top: 260px;width: 100%;}
		.profi img{width: 240px;height: 401px;border-radius: 100px;}
		.sign{position: absolute;left: 47%;top: 850px;}		
		.sign button{background: #4E4E4E;border: none;padding: 15px;border-radius: 10px;}
		.sign button a{text-decoration: none;color: #ffffff;}
		}

		@media  screen and (max-width: 600px)
		{body{background: url('12.jpeg');background-size: cover;}
			.logi{width: 40px;}
				.logi img{width: 20%;position: absolute;top: 5px;padding: 10px;}

			.amagamb{margin: auto;width: 70%;position: absolute;top: 88px;left: 0px;border-radius: 20px;padding: 0px;}
		.amagamb strong{font-size: 20px;position: absolute;top: 140px;}
		.amagamb p{width: 0%;padding: 150px;font-size: 20px;}
		.head{background: blue;padding: 0px;margin-right: 3px;}
			.head ul{width: 100%;padding: 0px;}
	.head ul{width: 100%;padding: 0px;}
			.head ul {position: absolute;top: 50px;left: 0%;}
			.head ul li{display: block;}
			.head ul li .log{top: 0px;}
			.head ul li a{color: #6F0F0F;text-decoration: none;font-size: 13px;}
			.profi{position: absolute;left: 0px;top: 260px;width: 40%;}
		.profi img{width: 100%;height: 201px;border-radius: 60px;}
		.sign{position: absolute;left: 65%;top: 850px;}		
		.sign button{background: #4E4E4E;border: none;padding: 10px;border-radius: 10px;}
		.sign button a{text-decoration: none;color: #ffffff;}
		}

@media  screen and (max-width: 360px)
		{
			body{background: green;background-size: 85%;}
	.logi img{position: absolute;top: 10px;padding: 20px;}
		.head{display: inline;position: absolute;top: 30px;left: -40px;width: 40%}
		.head ul {display: inline;}
		.head ul li{list-style: none;display: block;padding-left: 9px;}
		.head ul li a{color: #6F0F0F;text-decoration: none;font-size: 30px;}
		.head ul li a:hover{color: green;}
		.head ul li img{border-radius: 50px;width: 30px;}
		

		body{background: url('12.jpeg');background-size: cover;}
			.logi{width: 40px;}
				.logi img{width: 20%;position: absolute;top: 5px;padding: 10px;}

			.amagamb{margin: auto;width: 70%;position: absolute;top: 88px;left: 0px;border-radius: 20px;padding: 0px;}
		.amagamb strong{font-size: 20px;position: absolute;top: 140px;}
		.amagamb p{width: 0%;padding: 150px;font-size: 20px;}
		.head{background: blue;position: absolute;top: -40px;}
			.head ul{width: 100%;padding: 40px;}
	
			.head ul {display: inline;}
		.head ul li{list-style: none;display: block;padding-left: 9px;}
		.head ul li a{color: #6F0F0F;text-decoration: none;font-size: 22px;}
		.head ul li a:hover{color: green;}
			.profi{position: absolute;left: 0px;top: 260px;width: 40%;}
		.profi img{width: 100%;height: 201px;border-radius: 60px;}
		.sign{position: absolute;left: 65%;top: 850px;}		
		.sign button{background: #4E4E4E;border: none;padding: 10px;border-radius: 10px;}
		.sign button a{text-decoration: none;color: #ffffff;}
		}



